In [5]:
import pandas as pd

In [6]:
args = {
    'model': 'knn',
    'num_examples': 1200,
    'label_type': 'bytes',
    'encode_method': None,
}

In [7]:
res = {"model": args['model'],
           "num_examples": int(args['num_examples']),
           "label_type": args['label_type'],
           "seed": int(233),
           "encode_method": args['encode_method']}

In [10]:
results = pd.read_csv('results.csv')

In [8]:
pd.DataFrame(res, index=[0])

  model  num_examples label_type  seed encode_method
0   knn          1200      bytes   233          None