In [64]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [65]:
import sys; sys.path.append('../')
%matplotlib inline
import numpy as np
import sys,os
import pickle, gzip
import pandas as pd
import matplotlib,matplotlib.pyplot as plt
import utils
import encoders
import pytorch_models
import pandas as pd
import sklearn, sklearn.model_selection, sklearn.neighbors
import sklearn.linear_model, sklearn.ensemble
import gzip
import utils
import encoders
import collections
from mlp import MLP_train, MLP

In [66]:
import torch
import torch.optim
import torch.nn as nn
import torch.utils.data
import torch.nn.functional as F
import sklearn, sklearn.metrics

In [94]:
results = pd.read_csv("results-bal2.csv")

In [95]:
results2 = results.copy().fillna("")
results2 = results2[results2.label_type == "btype"]
results2 = results2[results2.num_examples > 50]
results2 = results2[results2.encode_method != "fft"]
results2.num_examples = results2.num_examples.astype(int)
results2.groupby(["label_type", "num_examples", "model","encode_method"]).agg({
                  'bacc':['mean','std','count']}).round(2)

                                                   bacc
                                                   mean   std count
label_type num_examples model       encode_method
btype      120          conv-basic                 0.41  0.09     6
                        conv-resnet                0.33  0.01     6
                        knn                        0.36  0.03     6
                                    pca_50         0.34  0.06     6
                        mlp                        0.36  0.03     6
           1200         conv-basic                 0.68  0.03     6
                        conv-resnet                0.72  0.03     6
                        knn                        0.53  0.02     6
                                    pca_50         0.59  0.02     6
                        mlp                        0.54  0.01     6
           12000        conv-basic                 0.80  0.01     6
                        conv-resnet                0.86  0.00     6
                        knn                        0.64  0.01     6
                                    pca_50         0.67  0.01     6
                        mlp                        0.69  0.01     6

In [12]:
results2 = results.copy().fillna("None")
del results2["seed"]
results2.groupby(["label_type", "num_examples", "model","encode_method"]).mean(["bacc"])

                                                       bacc
label_type num_examples model       encode_method
btype      24.0         conv-basic  None           0.277778
                        conv-resnet None           0.333333
                        knn         None           0.333333
                                    fft            0.222222
                                    pca_50         0.222222
                        mlp         None           0.111111

                                                   bacc
                                                   mean   std count
label_type num_examples model       encode_method
btype      24.0         conv-basic  None           0.28  0.08     2
                        conv-resnet None           0.33  0.00     2
                        knn         None           0.33  0.00     2
                                    fft            0.22  0.31     2
                                    pca_50         0.22  0.16     2
                        mlp         None           0.11  0.00     2